.card{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 18%;
    padding: 10px;

    margin: auto;
}
.center{
    display: block;
    margin: auto;
}