<div>
    <mat-card class="card">
        <mat-card-title>
            Bienvenido(a) a al página de inicio
        </mat-card-title>
        <mat-card-actions>
            <button mat-stroked-button color="primary" (click)="Tablero()">Ir a Tablero ></button>
            <button mat-stroked-button color="primary" (click)="Gestion()">Ir a Gestonar ></button>
        </mat-card-actions>
        <mat-card-content>
            <button mat-flat-button color="accent" class="center" (click)="Salir()">Salir</button>
        </mat-card-content>
        
    </mat-card>
</div>